<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
  <head>
    <title>Weather Transport Homepage</title>
    <link type="text/css" rel="stylesheet" href="elegant-aero.css" />
      <style>
          input::-webkit-calendar-picker-indicator {
              display: none;/* remove default arrow */
          }
      </style>
      <script>
          <!-- https://stackoverflow.com/questions/9975810/make-iframe-automatically-adjust-height-according-to-the-contents-without-using -->
          function resizeIframe(obj) {
              obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
          }
      </script>
  </head>
  <body style='background-image:URL("bike-rain.jpg");background-repeat:repeat;background-position:center top;-webkit-background-size:100%;-moz-background-size:100%;-o-background-size:100%;background-size: 100%;'>
    <p style="margin-bottom:2cm"/>
    <form action="/home.html" style="width:400px;height:10px;margin:0;padding-top=100px;background-color: rgba(0,0,10,.85)" target="results_iframe" class="elegant-aero">
        <h1><b>Chicago Transit Use by Weather: </b>An App Written by Raymond Eid for MPCS 53014: Big Data Applications Architecture</h1>
    </form>
    <br><br><br><br><br><br>
    <form action="/home.html" style="width:530px;height:175px;margin:0;padding-top=100px;background-color: rgba(20,20,20,.85)" target="results_iframe" class="elegant-aero">
      <div style="white-space: nowrap"><label>
          <ul>
        <li><a href="divvy-cta-yearly.html"><h3>Explore Monthly Divvy and CTA usage with weather by year</h3></a></li>
        <li><a href="precipitation.html"><h3>Explore Divvy and CTA usage by daily precipitation average</h3></a></li>
        <li><a href="snow.html"><h3>Explore Divvy and CTA usage by daily snowfall average</h3></a></li>
        <li><a href="submit-divvy-trip.html"><h3>Submit Bike Trip Data</h3></a></li>
              <ul>
      </label>
      </div>
    </form>
    <p style="margin-bottom:2cm"/>

    <iframe frameBorder="0" onload="resizeIframe(this)" name="results_iframe" style="display:block;width:70%;margin-left:auto;margin-right:auto"/>
  </body>
</html>
